@mixin img-objectfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}

@mixin filter($opacity) {
  filter: brightness($opacity);
}

@mixin flex($direct, $main, $cross) {
  display: flex;
  flex-direction: $direct;
  justify-content: $main;
  align-items: $cross;
}

// 垂直水平置中
@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// 長寬
@mixin size($w, $h) {
  width: $w;
  height: $h;
}

// 圖片滿版
@mixin img-objectfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}

// 濾鏡
@mixin filter($opacity) {
  filter: brightness($opacity);
}

// 彈性盒
@mixin flex($direct, $main, $cross) {
  display: flex;
  flex-direction: $direct;
  justify-content: $main;
  align-items: $cross;
}

// 浮動
@mixin indep {
  position: absolute;
}

// 動畫
@mixin trans($s) {
  transition: $s;
}
